node_modules
out
dist
release
*.local
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
tsconfig.*.tsbuildinfo

# Sorties du banc d'aperçu
apercu/
*.log

# Sorties de construction
release/
build/icon.ico
